.info{
    padding: 20px 0;
}
.info__title{
    font-weight: 700;
    font-size: 32px;
    line-height: 37.5px;
}
.info__content{
    display: flex;
    gap: 25px;
    padding: 25px 0 0 0;
}
.info__release{
    padding: 25px;
    border: 1px solid #000;
}