{
  "extends": ["stylelint-config-standard", "stylelint-prettier/recommended"],
  "ignoreFiles": ["**/dist/**", "**/node_modules/**", "**/coverage/**"],
  "rules": {
    "selector-max-attribute": 1,
    "selector-max-class": 3,
    "selector-max-combinators": 2,
    "selector-max-compound-selectors": 3,
    "no-descending-specificity": null,
    "import-notation": "string",
    "block-no-empty": null,
    "selector-class-pattern": [
      "[a-z]+",
      {
        "resolveNestedSelectors": true
      }
    ]
  }
}
